.login-form input {
  margin-top: 8px;
  margin-bottom: 8px;
}
div {
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  width: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
}
