body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    animation: gradient 10s infinite linear;
    background-size: 400%;
}
@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #287a9d;
    color: #ffffff;
}
h1, h4, h3{
color: #ffffff;
    text-align: center;
    margin-top: 15px;
}

a{
 color: #ffffff;
    text-decoration: none;
    margin-top: 15px;
}
a:hover{
    color: aquamarine;
}
.congrat{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}