.genders{
    width: 146px;
    
}
.spam-bold-text{
    font-size: 15px;
    color: rgb(0, 0, 0);

   
}
body{
    background-image: url("https://pibig.info/uploads/posts/2021-05/1620815188_27-pibig_info-p-domik-v-lesu-zimoi-priroda-krasivo-foto-29.jpg");
   background-attachment: fixed;
  
}
