body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#bordur{
    width: 100%;
}

.greetingp{
    color: red;
    font-size: 50px;
    font-weight: bold;
    
    text-align: center;
}

.center{
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

.fl{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 100px;
    margin-bottom: 30px;
    font-size: 30px;
}

.lab{
    width: 380px;
}

input{
    font-size: 20px;
}