.btn-send-letter {
    background-color: rgb(51, 176, 26);
    color: white;
    border: 1px;
    padding: 8px;
    border-radius: 14px;
    &:hover{
      background-color: rgb(255, 0, 72);
    }
  }